html {
    max-width: 95%;
    margin: auto;
}

body {
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    
    max-width: 960px;
    min-width: 320px;
    margin: auto;
    padding-top:15px;
}

h1 {     
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    font-size: 1.5em;
    margin: 0px;
}


h2 {     
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #888;
}

a:hover {
    color: #333;
}

h1 a {
    color: #333;
}

h2 a {
    color: #333;
}

h1 a:hover {
    color: #888;
}

h2 a:hover {
    color: #888;
}
