* {  
  box-sizing:border-box;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  background-color: white;
  box-shadow: #d4d4d4 0px 0px 7px;
  height: 100%;
  padding: 15px;
  outline: none;
  
  display: flex;
  flex-direction: column; 
  flex-wrap:wrap;
}

.aboutpanel {
  background-color:white;
  padding:5px;
  border-radius:5px;
}

.sidebar a {
    text-decoration: none;
    color: #333 !important;  
}

.sidebar li {
  /*margin-bottom:10px;*/
  padding:10px;
  border-bottom: solid 1px #d4d4d4;
}

.sidebar a:hover {
    color: #888 !important;
}

.rpanel {  
  overflow:auto;   
  resize:both;
  
  width:320px;
  min-width:275px;
  max-width:calc(100vw - 460px);
  display: flex;
  flex-direction: column;
}

.main {  
  position: absolute;
  margin-left:360px;
  top:0px;
  padding:20px;
  max-width:960px;
}

.media {
  border-radius: 10px;
  margin-top:10px;
  margin-bottom:10px;
  display: block;
  padding: 10px;
  background-color: #f4f4f4;
}

/*-----------*/

body {
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    line-height: 1.6;
    color: #333;   
    margin:0px;
}

.date-format {
    font-size: 0.8em;
}

h1 {     
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    font-size: 1.5em;
    margin: 0px;
}

h2 {     
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    font-size: 1.2em;
    margin: 0px;
}

h3 {
    font-family: Segoe UI, Roboto, Helvetica, sans-serif; 
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #888;
}

a:hover {
    color: #333;
}

h1 a {
    color: #333;
}

h2 a {
    color: #333;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 a:hover {
    color: #888;
}

h2 a:hover {
    color: #888;
}

.aboutpanel {
  position:absolute; 
  bottom:0px;
}

@media only screen 
  and (max-device-width: 450px), (max-device-height: 450px) { 

  body, html {
    height:100%;
  }
    
  .main {    
    position: fixed;
    margin-left: 0px;
    width: 100vw;
    height: 100%;
    overflow:auto;
  }
    
   .outersidebar{
     width:100vw;
     height:100%;
     z-index:1;
     position:fixed;
     overflow:auto;
    pointer-events:none;
    }
    
  .sidebar {
    position: absolute;
    box-shadow: none;
    background-color: initial;
    padding:0px;
    pointer-events:none;
    width: 175vw;  
    height:100%;
  }    

  .rpanel {	
    width: 75vw;
    height:100%;
    resize:initial;
    max-width:initial;
    box-shadow: #d4d4d4 0px 0px 7px; 
    background-color: white;
    padding:15px;
    pointer-events:auto;
  }
    
    .sidebartab {
     position: absolute;
      width: calc(25vw);
      height:100%;
      pointer-events:auto;
      left:75vw;
    }    
    
  .aboutpanel {
    bottom:15px;
  }

  ::-webkit-scrollbar {
    height: 0px;
  }

}
