<!DOCTYPE html><html>
	
<head>
	{% if page.title %}			
		<title>{{ page.title }} | {{ site.name }}</title>
	{% else %}
		<title>{{ site.name }}</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ "main.css" | relative_url }}">
	<link rel="icon" href="{{ "sdg-transparent.png" | relative_url }}">
	<script type="text/javascript" src="{{ "abc.js" | relative_url }}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	{% seo %}
	
<script>
	
function makeInteractive(controller, test, abc) {
	let paper = controller + "sheet";
	
	let newDiv = document.createElement("div");
	newDiv.id = paper;
	newDiv.classList.add("sheetmusic");
	
	D(controller).classList.add("controller");
	D(controller).parentNode.insertBefore(newDiv, D(controller));

	let tempController = D(controller);
	if (test) newDiv.onclick = function() { tempController.children[0].children[0].focus(); };
	var synthControl = new ABCJS.synth.SynthController();
	
	if (!test) {
		new ABCJS.Editor("abc", { 
			canvas_id: paper,
			synth: {
				el: "#" + controller,
				cursorControl: new CursorControl(),
				options: { 
					displayLoop: false, 
					displayRestart: false, 
					displayPlay: true, 
					displayProgress: true, 
					displayWarp: true
				}
			},
			abcjsParams: { 
				userAction: true,
				add_classes: true, 
				clickListener: function(abcElem) {
					var lastClicked = abcElem.midiPitches;
					if (!lastClicked) return;
					ABCJS.synth.playEvent(lastClicked, abcElem.midiGraceNotePitches, this.millisecondsPerMeasure()).then(function (response) { console.log("note played");
					}).catch(function (error) {console.log("error playing note", error);});
				}
			},
			generate_warnings: true,
			warnings_id:"warnings",
			onchange: function() {	
				setTimeout( function() {
				var  mysvg = D(paper).firstChild;
				var  bbox = mysvg.getBBox();
				//mysvg.setAttribute("width", bbox.x + bbox.width + bbox.x);
				//mysvg.setAttribute("height", bbox.y + bbox.height + bbox.y);
				}, 1000);
			}
		});
	}	
	else {	
		var visualObj = ABCJS.renderAbc(paper, test, { 
			add_classes: true, 
			clickListener: function(abcElem) {
				var lastClicked = abcElem.midiPitches;
				if (!lastClicked) return;
				ABCJS.synth.playEvent(lastClicked, abcElem.midiGraceNotePitches, synthControl.visualObj.millisecondsPerMeasure()).then(function (response) { console.log("note played");
				}).catch(function (error) {console.log("error playing note", error);});
			} 
		})[0];

		synthControl.load("#" + controller, new CursorControl(), {
			displayLoop: false, 
			displayRestart: false, 
			displayPlay: true, 
			displayProgress: true, 
			displayWarp: true
		});

		if (ABCJS.synth.supportsAudio()) {    
			var midiBuffer = new ABCJS.synth.CreateSynth();
			window.AudioContext = window.AudioContext || window.webkitAudioContext || navigator.mozAudioContext || navigator.msAudioContext;
			var audioContext = new window.AudioContext();
			audioContext.resume().then(function () {
			    // midiBuffer.init preloads and caches all the notes needed. There may be significant network traffic here.
				return midiBuffer.init({
					visualObj: visualObj,
					audioContext: audioContext,
					millisecondsPerMeasure: visualObj.millisecondsPerMeasure(),
					options: {
						soundFontUrl: '',
						onEnded: function() {console.log("hi");}
					}
				}).then(function (response) {
					synthControl.setTune(visualObj, true, { options:{} }).then(function () {
						console.log("Audio successfully loaded.");
						let tempos = document.querySelectorAll(".abcjs-midi-tempo");
						for (let i = 0; i < tempos.length; i++) {
							tempos[i].parentNode.nextSibling.firstElementChild.innerHTML = 240000/visualObj.millisecondsPerMeasure();
						}
					}).catch(function (error) {  console.warn("Audio problem:", error);  });

					// midiBuffer.prime actually builds the output buffer.
					return midiBuffer.prime();		    
				}).then(function () {
					// At this point, everything slow has happened. midiBuffer.start will return very quickly and will start playing very quickly without lag.
					return Promise.resolve();
				}).catch(function (error) { console.warn("synth error", error);  });
			});
		}
		
		var  mysvg = D(paper).firstChild;
		// Get the bounds of the SVG content
		var  bbox = mysvg.getBBox();
		// Update the width and height using the size of the contents
		mysvg.setAttribute("width", bbox.x + bbox.width + bbox.x);
		mysvg.setAttribute("height", bbox.y + bbox.height + bbox.y);
	}
	
	function CursorControl() {
		var self = this;

		self.onStart = function() {
			var svg = document.querySelector("#" + paper + " svg");
			var cursor = document.createElementNS("http://www.w3.org/2000/svg", "line");
			cursor.setAttribute("class", "abcjs-cursor");
			cursor.setAttributeNS(null, 'x1', 0);
			cursor.setAttributeNS(null, 'y1', 0);
			cursor.setAttributeNS(null, 'x2', 0);
			cursor.setAttributeNS(null, 'y2', 0);
			svg.appendChild(cursor);
		};
		
		self.beatSubdivisions = 2;
		self.onBeat = function(beatNumber, totalBeats, totalTime) {
			if (!self.beatDiv) self.beatDiv = document.querySelector(".beat");
		};
		self.onEvent = function(ev) {
			if (ev.measureStart && ev.left === null) return; // this was the second part of a tie across a measure line. Just ignore it.

			var lastSelection = document.querySelectorAll("#" + paper + " svg .highlight");
			for (var k = 0; k < lastSelection.length; k++)
				lastSelection[k].classList.remove("highlight");

			for (var i = 0; i < ev.elements.length; i++ ) {
				var note = ev.elements[i];
				for (var j = 0; j < note.length; j++) {
					note[j].classList.add("highlight");
					note[j].scrollIntoView({behavior: "auto", block: "nearest", inline: "nearest"}); 
				}
			}

			var cursor = document.querySelector("#" + paper + " svg .abcjs-cursor");
			if (cursor) {
				cursor.setAttribute("x1", ev.left - 2);
				cursor.setAttribute("x2", ev.left - 2);
				cursor.setAttribute("y1", ev.top);
				cursor.setAttribute("y2", ev.top + ev.height);
			}
		};
		self.onFinished = function() {
			var els = document.querySelectorAll("svg .highlight");
			for (var i = 0; i < els.length; i++ ) {
				els[i].classList.remove("highlight");
			}
		};
	}	
}


function D(string) { return document.getElementById(string); }		
</script>	
</head>
	
<body>	
	<div id="outersidebar" class="outersidebar">
	<div class="sidebar">
	<div class="rpanel" id="accountPanel" tabIndex="-1" onfocus="D('postlist').focus();">		
		<div class="titlepanel">
			<a href="{{ "" | absolute_url }}"><img src="{{ "sdg-transparent.png" | relative_url }}" alt="Soli Deo gloria" style="flex-shrink:0; max-height:50px; padding-right:10px"></a>
			<span style="font-weight:bold;"><a href="{{ "" | absolute_url }}">Music composition for the classically trained pianist</a>
				<div style="margin-top:10px; font-size:0.8em;"><a href="{{ site.posts.last.url | relative_url }}">About</a></div>
			</span>
		</div>
						
		<ul id="postlist" style="overflow:auto;">
			{% for post in site.posts %}					
				{% if page.title == post.title %}	
					<li id="specialPost" style="background-color:#f4f4f4"><span class="date-format">{{ post.date | date: "%B %-d, %Y" }}</span><br>
						{{ post.title }}</li>
				{% else %}				
					<a href="{{ post.url | relative_url }}"><li><span class="date-format">{{ post.date | date: "%B %-d, %Y" }}</span><br>
						{{ post.title }}</li></a>				
				{% endif %}
			{% endfor %}
			<br>
		</ul>
	</div>
	<div class="sidebartab"></div>
	</div>
	</div>

	<div id="main" class="main">		
		{% if page.title %}		
			<h1>{{ page.title }}</h1>
			<div class="date-format" style="padding-bottom:15px">{{ page.date | date: "%B %-d, %Y" }}</div>
		{% endif %}

		<div class="contentHolder">
		{{ content }}	
		</div>
	</div>	
	<div id="editorPanel" class="main" tabIndex="-1" style="display:none; position:fixed; top:unset; bottom:0px; right:0px; max-height:60%; background-color:white; box-shadow: #d4d4d4 0px 0px 7px;">
		
		<div id="paper"></div>
		<textarea id="abc" style="width:100%; height:125px">
%%staves{1 2}
Q:1/2=60
M:4/4
L:1/4
K:C
V:1
CDEF|GABc|]
V:2 clef=bass
C,D,E,F,|G,A,B,C|]
		</textarea>
		<div id="warnings"></div>

		<script>
		makeInteractive("paper", "", abc);
		</script>

	</div>
	<button onclick="toggle()" style="z-index:10; position:fixed; bottom:5px; right:5px">Editor</button>
</body>	

<script>
function toggle() {
	if (editorPanel.style.display != "none") editorPanel.style.display = "none";
	else editorPanel.style.display = "";
}	
document.body.onkeydown = function(evt) {
	if (evt.ctrlKey && evt.keyCode == 69) {
		evt.preventDefault();
		toggle();
		D('editorPanel').focus();
	}
	if (evt.keyCode == 32 && D('editorPanel').contains(document.activeElement) && !D('abc').contains(document.activeElement) && editorPanel.style.display != "none") {
		evt.preventDefault();
		console.log("play click triggered");
		D("paper").children[0].children[0].click();
	}
}
	

var mobile = false;
if(D('specialPost')) D('specialPost').scrollIntoView({behavior: "auto", block: "center", inline: "nearest"}); 
if (screen.width <= 550 || screen.height <= 550) {
	mobile = true;		
	let controllers = document.querySelectorAll(".controller");
	for (let i = 0; i < controllers.length; i++) {
		controllers[i].style.paddingLeft = "0px";
		controllers[i].style.left = "0px";
		controllers[i].style.width = "100%";
		controllers[i].style.position = "static";
	}
	D('main').onclick = function() { D('outersidebar').scrollTo({
	  top: 0,
	  left: 1000,
	  behavior: 'smooth'}); };
}
else {				
	window.addEventListener("resize", resizeFunction);
	D("accountPanel").onclick = resizeFunction;
	resizeFunction();
	function resizeFunction() { 
		var w = D('accountPanel').offsetWidth + 10;
		D("main").style.marginLeft = `${w}px`;
		D("main").style.width = `calc(100% - ${w}px)`;
		
		let controllers = document.querySelectorAll(".controller");
		for (let i = 0; i < controllers.length; i++) {
			controllers[i].style.paddingLeft = `${w + 35}px`;
			controllers[i].style.left = `-${w + 35}px`;
			controllers[i].style.width = `calc(100% + ${w + 35}px)`;
		}
		setTimeout(function(){					
			var w = D('accountPanel').offsetWidth + 10;
			D("main").style.marginLeft = `${w}px`;
			D("main").style.width = `calc(100% - ${w}px)`;
		}, 150);			 
	}  
}
</script>
</html>
