<!DOCTYPE html>
<html>
	<head>
		{% if page.title %}			
			<title>{{ page.title }} | Soli Deo gloria</title>
		{% else %}
			<title>Soli Deo gloria</title>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
   		{% seo %}
	</head>
	
	<body>
		<ul>
		  {% for post in site.posts %}
		    <li><a href="{{ post.baseurl }}">{{ post.title }}</a> &laquo; <span class="date-format">{{ post.date | date: "%B %-d, %Y" }}</span></li>
		  {% endfor %}
		</ul>
		
	{{ content }}
		
	</body>		
</html>
