<!DOCTYPE html>
<html>
	<head>
		{% if page.title %}			
			<title>{{ page.title }} | Soli Deo gloria</title>
		{% else %}
			<title>Soli Deo gloria</title>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{{ "main.css" | relative_url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
   		{% seo %}
	</head>
	
	<body>	
		<div class="outersidebar">
		<div class="sidebar">
		<div class="rpanel" style="flex-grow: 1; position:relative; min-width:250px; margin-bottom:0px" id="accountPanel">
			<h2><a href="{{ "" | absolute_url }}">Soli Deo gloria</a></h2>
			<div style="margin-bottom:10px" class="date-format" style="padding-bottom:15px">&raquo;&nbsp;Music composition for the classically trained pianist</div>
			<ul>
				{% for post in site.posts %}	
					<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> &raquo;&nbsp;<span class="date-format">{{ post.date | date: "%B %-d, %Y" }}</span></li>
				{% endfor %}
			</ul>
			
			<div class="aboutpanel">
				<a href="{{ site.posts.last.url | relative_url }}">About</a>
			</div>
		</div>
		</div>
		</div>
		
		<div id="main" class="main">		
			{% if page.title %}		
				<h1>{{ page.title }}</h1>
				<div class="date-format" style="padding-bottom:15px">{{ page.date | date: "%B %-d, %Y" }}</div>
			{% endif %}
			
			<div style="margin:15px">
			{{ content }}	
			</div>
		</div>		
		
		<script>
			var mobile = false;
			if (screen.width <= 550 || screen.height <= 550) {
				mobile = true;	
			}
			else {				
			  D("accountPanel").onclick = function() { 
			    var w = D('accountPanel').offsetWidth + 40;
			    D("main").style.marginLeft = `${w}px`;
			    //D("main").style.width = `calc(100% - ${w}px)`;
			  }  
			}
			
			function D(string) { return document.getElementById(string);}	
		</script>
	</body>		
</html>
